<div class='board'>
  <% lists.each do |list| %>
    <div class='list'>
      <% list.ordered_cards.each do |card| %>
        <%= link_to card, :class => 'card' do %>
          <div class='card-title'><%= card.title %></div>
          <div class='card-description'><%= truncate(card.description, :length => 100, :separator => ' ') %></div>

          <%= updown_buttons(card) %>
        <% end %>
      <% end %>
      <%= link_to 'Create', new_card_path(list: list.id), :class => 'button-2' %>
    </div>
  <% end %>
</div>
