<%= render :partial => 'shared/board', :locals => {:lists => @lists} %>

<div class='overlay'>
  <div class='show card'>
    <div class='card-title'><%= @card.title %></div>
    <div class='card-description'><%= @card.description %></div>
    <%= link_to 'Edit', edit_card_path(@card), :class => 'button-1' %>
    <%= link_to 'Delete', @card, :method => :delete, :class => 'button-1', :data => { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', root_url, :class => 'button-1' %>
  </div>
</div>
